.footer__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  background-size: 200% 100%;
  background-position: left bottom;
}

.footer__link:hover {
  transition: opacity .5s ease-in;
  opacity: 0.4;
}
